.gradient-wave {
  background: linear-gradient(120deg, #0f172a, #1e1b4b, #312e81, #020617);
  background-size: 300% 300%;
  animation: wave 10s ease-in-out infinite;
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
